<div class="control-group">
  <%= f.label :denominator, :class => 'control-label' %>
  <div class="controls">
    <%= f.number_field :denominator, :class => 'number_field form-control', required: true, :min => 1, :max => 99, :value => 1 %>
  </div>
</div>

<div class="control-group">
  <%= f.label :numerator, :class => 'control-label' %>
  <div class="controls">
    <%= f.number_field :numerator, :class => 'number_field form-control', :min => 1, :max => 99 %>
  </div>
</div>
